



 <div class="row">    

   <div class="large-3 pull-9 columns" id="sidebar">
        

      
        
    </div>


    <div class="large-9 push-3 columns">
     
      <h3>New Lecture</h3>
      <%= render :partial => 'form' %>
         
    </div>

	  		
</div>