<div class="content">

<h3><%= @student.name %></h3>
  

 <%= button_to('Edit Lecture', edit_student_path(@student), :method => :get, :class => "form-element" ) %>
 <%= button_to('Delete Lecture', @student, :method => :delete, :confirm => 'Are you sure?', :class => "form-element") %>
</div>


 