<div class="content">
<%= submit_tag 'Got it! Ready for next topic.', :name => 'got_it_button', :id=>"firstbutton" %><br><br>
<%= submit_tag "Following you but want \nmore depth.", :name => 'on_track_button', :id=>"secondbutton" %><br><br>
<%= submit_tag 'Not getting it. ', :name => 'preview_button', :id=>"not_getting_button" %><br><br>
</div>