<%= link_to('New Lecture', new_lecture_path) %>
<div class='spacer'></div>

<ol>
<% @lectures.each do |lecture| %>
  <li>
    <ul>
      <li><%= link_to(lecture.title, lecture) %></li>

    </ul>
  </li>
<% end %>
</ol>
